{% load static %}

<!-- Блок с карточкой займет всю ширину родительского контейнера на мобильном, 
  половину на планшете и 1/4 на компьютере --> 
<!-- py-3: сделан внутренний отступ, что бы карточки не слипались -->
<div class="col-12 col-md-6 col-xl-3 p-3">
  <!-- h-100:  делает карточки одинаковой высоты -->
  <div class="card h-100">
    <!-- card-img-top: изображение размещается вверху карточки -->
    <!--img-fluid: размер изображения подстроится под занимаемый блок -->
    {% if ice_cream.image %}
    <img class="card-img-top img-fluid" src="{{ice_cream.image.url}}" height='100'>
    {% else %}
    <img class="card-img-top img-fluid" src="{% static 'img/tmb.png' %}" alt="">
    {% endif %}
    <!-- card-body: текстовый контент карточки -->
    <div class="card-body">
      <h5>{{ ice_cream.name }}</h5>
      {%if ice_cream.quantity < 3 %}
      <div class="row bg-danger rounded text-light text-center p-2 my-2">Almost sold out!</div>
      {% endif %}
      <div class="row">
        <div class="col bg-success rounded py-3 text-light mx-1">Quantity: {{ice_cream.quantity}}</div>
        <div class="col bg-success rounded py-3 text-light mx-1">Price: {{ice_cream.price}}</div>
      </div>
    </div>
    <!-- btn: показывает что это кнопка  -->
    <!-- btn-success: определяет цвет кнопки --> 
    <a href="{% url 'ice_cream:ice_cream_detail' ice_cream.pk %}" class="btn btn-success">
      Подробная информация
    </a> 
  </div> <!-- Конец карточки -->
</div> <!-- Конец блока определяющего размер элемента -->