{% extends "base.html" %}

{% block breadcrumbs %}
    {% include 'includes/_breadcrumbs.html' %}
{% endblock %}


{% block content_ %}

<div class="row my-2 gap-3">
    {% include 'catalog/category.html' %}

    <div class="col bg-body-tertiary rounded-3 p-4">

        <h3 class = "mb-4"> Кошик </h3>
        <p> Товар <a href="{% url 'ice_cream:ice_cream_detail' ice_cream.pk %}">{{ product.name }}</a> додано до кошика </p>

        {% include 'order/blocks/_cart.html' %}

    </div>
</div>

{% endblock %}
