{% extends 'base.html' %}

{% load static %}

{% comment %} {% block title %} Категорії {% endblock %} {% endcomment %}

{% block meta %}
    {% include 'includes/_meta_tags.html' with meta_title="Каталог-Категорії"  %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'includes/_breadcrumbs.html' %}
{% endblock %}

{% block content %}
    <h1>Категорії</h1>
    {% if object_list %}
        <div class ='row'>
            {% for category in object_list %}
                <div class="col-4 gap-3 bg-success p-3 rounded">
                    <a href="{{ category.get_absolute_url }}">
                        {% if category.image %}
                            <img src="{{ category.image.url }}" alt="{{ category.name }}" class="img-thumbnail">
                        {% else %}
                            <img src="{% static 'img/tmb.png' %}" alt="{{ category.name }}" class="img-thumbnail">
                        {% endif %}
                        <h4 class='btn btn-outline-light mt-3' style="width:100%;">{{ category.name }}</h4>
                    </a>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <p> No products found </p>
    {% endif %}

{% endblock %}